@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.flash-message {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #FFE5D4;
    list-style: none;
    border: #E38062 2px solid;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.1s ease-in;
}

.flash-message li {
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #E38062;
    font-weight: bold;
    font-size: 1.4rem;
}

.bar {
    width: 100%;
    padding: 0.1rem;
    background-color: #E38062ed;
    animation: 3s barSlide linear forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes barSlide {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}